In [137]:
import pandas

In [138]:
#reading in datafile 
DataFile = pandas.read_stata('2000_acs_sample.dta')
print(DataFile)

       year  datanum     serial   hhwt                                gq  \
0      2000        4       37.0  100.0  Households under 1970 definition
1      2000        4       37.0  100.0  Households under 1970 definition
2      2000        4       37.0  100.0  Households under 1970 definition
3      2000        4      241.0  100.0  Households under 1970 definition
4      2000        4      242.0  100.0  Households under 1970 definition
...     ...      ...        ...    ...                               ...
28167  2000        4  1236624.0  100.0  Households under 1970 definition
28168  2000        4  1236624.0  100.0  Households under 1970 definition
28169  2000        4  1236756.0  100.0  Households under 1970 definition
28170  2000        4  1236756.0  100.0  Households under 1970 definition
28171  2000        4  1236779.0  100.0  Households under 1970 definition

      us2000c_serialno  pernum  perwt us2000c_pnum us2000c_sex us2000c_age  \
0              0365663       1  100.0           01           2          20
1              0365663       2  100.0           02           2          19
2              0365663       3  100.0           03           2          19
3              2894822       1  100.0           01           2          50
4              2896802       1  100.0           01           2          29
...                ...     ...    ...          ...         ...         ...
28167          7055193       1  100.0           01           1          29
28168          7055193       2  100.0           02           2          26
28169          8489120       1  100.0           01           2          58
28170          8489120       2  100.0           02           1          61
28171          8733299       1  100.0           01           1          30

      us2000c_hispan us2000c_race1 us2000c_marstat us2000c_educ us2000c_inctot
0                 01             1               5           11        0010000
1                 01             1               5           11        0005300
2                 01             2               5           11        0004700
3                 01             1               5           14        0032500
4                 01             1               5           13        0030000
...              ...           ...             ...          ...            ...
28167             01             1               1           11        0050100
28168             01             1               1           09        0012000
28169             01             1               1           14        0069800
28170             01             1               1           14        0040800
28171             01             3               3           09        0022110

[28172 rows x 16 columns]

In [139]:
#to see all column names
print(DataFile.columns)

Index(['year', 'datanum', 'serial', 'hhwt', 'gq', 'us2000c_serialno', 'pernum',
       'perwt', 'us2000c_pnum', 'us2000c_sex', 'us2000c_age', 'us2000c_hispan',
       'us2000c_race1', 'us2000c_marstat', 'us2000c_educ', 'us2000c_inctot'],
      dtype='object')

In [140]:
#to find columns and their values
CountUnique = DataFile.nunique()
print(CountUnique)

year                    1
datanum                 1
serial              11327
hhwt                    1
gq                      4
us2000c_serialno    11067
pernum                 16
perwt                   1
us2000c_pnum           16
us2000c_sex             2
us2000c_age            92
us2000c_hispan         22
us2000c_race1           9
us2000c_marstat         5
us2000c_educ           17
us2000c_inctot       2647
dtype: int64

In [141]:
#find columns where the count is 1 by indexing for the values that are 1
ColumnsWithSingleValue = CountUnique[CountUnique == 1].index
print(ColumnsWithSingleValue)

Index(['year', 'datanum', 'hhwt', 'perwt'], dtype='object')

In [142]:
#dropping the values that are 1
DataFile = DataFile.drop(columns = ColumnsWithSingleValue)
print(DataFile)

          serial                                gq us2000c_serialno  pernum  \
0           37.0  Households under 1970 definition          0365663       1
1           37.0  Households under 1970 definition          0365663       2
2           37.0  Households under 1970 definition          0365663       3
3          241.0  Households under 1970 definition          2894822       1
4          242.0  Households under 1970 definition          2896802       1
...          ...                               ...              ...     ...
28167  1236624.0  Households under 1970 definition          7055193       1
28168  1236624.0  Households under 1970 definition          7055193       2
28169  1236756.0  Households under 1970 definition          8489120       1
28170  1236756.0  Households under 1970 definition          8489120       2
28171  1236779.0  Households under 1970 definition          8733299       1

      us2000c_pnum us2000c_sex us2000c_age us2000c_hispan us2000c_race1  \
0               01           2          20             01             1
1               02           2          19             01             1
2               03           2          19             01             2
3               01           2          50             01             1
4               01           2          29             01             1
...            ...         ...         ...            ...           ...
28167           01           1          29             01             1
28168           02           2          26             01             1
28169           01           2          58             01             1
28170           02           1          61             01             1
28171           01           1          30             01             3

      us2000c_marstat us2000c_educ us2000c_inctot
0                   5           11        0010000
1                   5           11        0005300
2                   5           11        0004700
3                   5           14        0032500
4                   5           13        0030000
...               ...          ...            ...
28167               1           11        0050100
28168               1           09        0012000
28169               1           14        0069800
28170               1           14        0040800
28171               3           09        0022110

[28172 rows x 12 columns]

In [143]:
#creating a function to rename the specific values
NewMapping = {
    'serial': 'Household',
    'pernum': 'Person',
    'us2000c_sex': 'Sex',
    'us2000c_age': 'age',
    'us2000c_hispan': 'Hispanic',
    'us2000c_race1': 'Race',
    'us2000c_marstat': 'marital_status',
    'us2000c_educ': 'edu',
    'us2000c_inctot': 'Income'
}
#updates the datafile and properly renames using .rename
DataFile = DataFile.rename(columns = NewMapping)
print(DataFile)

       Household                                gq us2000c_serialno  Person  \
0           37.0  Households under 1970 definition          0365663       1
1           37.0  Households under 1970 definition          0365663       2
2           37.0  Households under 1970 definition          0365663       3
3          241.0  Households under 1970 definition          2894822       1
4          242.0  Households under 1970 definition          2896802       1
...          ...                               ...              ...     ...
28167  1236624.0  Households under 1970 definition          7055193       1
28168  1236624.0  Households under 1970 definition          7055193       2
28169  1236756.0  Households under 1970 definition          8489120       1
28170  1236756.0  Households under 1970 definition          8489120       2
28171  1236779.0  Households under 1970 definition          8733299       1

      us2000c_pnum Sex age Hispanic Race marital_status edu   Income
0               01   2  20       01    1              5  11  0010000
1               02   2  19       01    1              5  11  0005300
2               03   2  19       01    2              5  11  0004700
3               01   2  50       01    1              5  14  0032500
4               01   2  29       01    1              5  13  0030000
...            ...  ..  ..      ...  ...            ...  ..      ...
28167           01   1  29       01    1              1  11  0050100
28168           02   2  26       01    1              1  09  0012000
28169           01   2  58       01    1              1  14  0069800
28170           02   1  61       01    1              1  14  0040800
28171           01   1  30       01    3              3  09  0022110

[28172 rows x 12 columns]

In [144]:
#Checking if changes were made properly 
print(DataFile.columns)
print(DataFile.head())

Index(['Household', 'gq', 'us2000c_serialno', 'Person', 'us2000c_pnum', 'Sex',
       'age', 'Hispanic', 'Race', 'marital_status', 'edu', 'Income'],
      dtype='object')
   Household                                gq us2000c_serialno  Person  \
0       37.0  Households under 1970 definition          0365663       1
1       37.0  Households under 1970 definition          0365663       2
2       37.0  Households under 1970 definition          0365663       3
3      241.0  Households under 1970 definition          2894822       1
4      242.0  Households under 1970 definition          2896802       1

  us2000c_pnum Sex age Hispanic Race marital_status edu   Income
0           01   2  20       01    1              5  11  0010000
1           02   2  19       01    1              5  11  0005300
2           03   2  19       01    2              5  11  0004700
3           01   2  50       01    1              5  14  0032500
4           01   2  29       01    1              5  13  0030000

In [145]:
#dropping specific values 
DroppingColumns = ['us2000c_pnum', 'us2000c_serialno']
DataFile = DataFile.drop(DroppingColumns, axis=1)
print(DataFile.columns)
print(DataFile.head())

Index(['Household', 'gq', 'Person', 'Sex', 'age', 'Hispanic', 'Race',
       'marital_status', 'edu', 'Income'],
      dtype='object')
   Household                                gq  Person Sex age Hispanic Race  \
0       37.0  Households under 1970 definition       1   2  20       01    1
1       37.0  Households under 1970 definition       2   2  19       01    1
2       37.0  Households under 1970 definition       3   2  19       01    2
3      241.0  Households under 1970 definition       1   2  50       01    1
4      242.0  Households under 1970 definition       1   2  29       01    1

  marital_status edu   Income
0              5  11  0010000
1              5  11  0005300
2              5  11  0004700
3              5  14  0032500
4              5  13  0030000

In [146]:
#print info 
print(DataFile.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28172 entries, 0 to 28171
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Household       28172 non-null  float64
 1   gq              28172 non-null  category
 2   Person          28172 non-null  int16
 3   Sex             28172 non-null  object
 4   age             28172 non-null  object
 5   Hispanic        28172 non-null  object
 6   Race            28172 non-null  object
 7   marital_status  28172 non-null  object
 8   edu             28172 non-null  object
 9   Income          28172 non-null  object
dtypes: category(1), float64(1), int16(1), object(7)
memory usage: 1.8+ MB
None

In [147]:
#change type of income column to number 
DataFile['Income'] = pandas.to_numeric(DataFile['Income'], errors = 'coerce')
#checking if the income Dtype changed properly 
print(DataFile.info('Income'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28172 entries, 0 to 28171
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Household       28172 non-null  float64
 1   gq              28172 non-null  category
 2   Person          28172 non-null  int16
 3   Sex             28172 non-null  object
 4   age             28172 non-null  object
 5   Hispanic        28172 non-null  object
 6   Race            28172 non-null  object
 7   marital_status  28172 non-null  object
 8   edu             28172 non-null  object
 9   Income          22015 non-null  float64
dtypes: category(1), float64(2), int16(1), object(6)
memory usage: 1.8+ MB
None

In [148]:
#Create Mapping from txt file 
SexMapping = {
    1: 'Male', 2: 'Female'
}

MaritalStatus = {
    1: 'Now married',
    2: 'Widowed', 
    3: 'Divorced', 
    4: 'Separated',
    5: 'Never married (includes under 15 years)' 
}
#Now replace the values in those current columns with these values
DataFile['Sex'] = DataFile['Sex'].replace(SexMapping)
DataFile['marital_status'] = DataFile['marital_status'].replace(MaritalStatus)
#Check if columns were updated correctly 
print(DataFile[['Sex', 'marital_status']].head())

  Sex marital_status
0   2              5
1   2              5
2   2              5
3   2              5
4   2              5

In [149]:
#check what the mode value is before replacing the NaN with the value of mode 
ModeValue = DataFile['Income'].mode()[0]
print(ModeValue)
#ModeValue is 0.0 so we will replace all NaN with 0.0 by the fill built in method
DataFile['Income'] = DataFile['Income'].fillna(ModeValue)
print(DataFile['Income'])

0.0
0        10000.0
1         5300.0
2         4700.0
3        32500.0
4        30000.0
          ...
28167    50100.0
28168    12000.0
28169    69800.0
28170    40800.0
28171    22110.0
Name: Income, Length: 28172, dtype: float64

In [151]:
#orint final datafile
print(DataFile)

       Household                                gq  Person Sex age Hispanic  \
0           37.0  Households under 1970 definition       1   2  20       01
1           37.0  Households under 1970 definition       2   2  19       01
2           37.0  Households under 1970 definition       3   2  19       01
3          241.0  Households under 1970 definition       1   2  50       01
4          242.0  Households under 1970 definition       1   2  29       01
...          ...                               ...     ...  ..  ..      ...
28167  1236624.0  Households under 1970 definition       1   1  29       01
28168  1236624.0  Households under 1970 definition       2   2  26       01
28169  1236756.0  Households under 1970 definition       1   2  58       01
28170  1236756.0  Households under 1970 definition       2   1  61       01
28171  1236779.0  Households under 1970 definition       1   1  30       01

      Race marital_status edu   Income
0        1              5  11  10000.0
1        1              5  11   5300.0
2        2              5  11   4700.0
3        1              5  14  32500.0
4        1              5  13  30000.0
...    ...            ...  ..      ...
28167    1              1  11  50100.0
28168    1              1  09  12000.0
28169    1              1  14  69800.0
28170    1              1  14  40800.0
28171    3              3  09  22110.0

[28172 rows x 10 columns]